* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

header {
  padding: 1rem 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 80px;
}

.container-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.container-links li {
  list-style: none;
}

.container-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#banner img {
  width: 100%;
  height: auto;
}

#infos-container {
  display: flex;
  gap: 2rem;
  padding: 2rem 3rem;
  justify-content: space-around;
}

.card-info {
  max-width: 50%;
}

.card-info ul {
  list-style: none;
  margin-top: 2rem;
}


.card-info h2 {
  color: #a5acaf;
  margin-bottom: 1rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}


.card-info li {
  margin-bottom: 0.75rem;
}

.card-info li strong {
  color: #ffffff;
}