* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

header {
  padding: 1rem 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 80px;
}

.container-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.container-links li {
  list-style: none;
}

.container-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#banner img {
  width: 100%;
  height: auto;
}