<!-- 1 A página deve possuir estrutura semântica, com uso de no mínimo 4 tags como <header>, <nav>,
<main>, <footer>, <section>. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria Millenium</title>
    
    <link rel="stylesheet" href="./css/estilo.css">

</head>
<body>
    <header>
        <h1>Cafeteria Millenium - Contato</h1>
        <!-- 2 Deve haver um menu de navegação com links relativos para as páginas: Home, Cardápio e Contato. -->
        <nav id="menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./cardapio.html">Cardápio</a></li>
                <li><a href="./contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <!-- 5 Uma das imagens deve estar centralizada na página com uso de CSS. -->
     <img id="hero" src="./img/hero.jpg" alt="Xicara de café">
     <main>
        <section>
            <h2>Nossos Contatos</h2>
            <aside>
                <p>Nome   : CAFÉ DOS INTEGROS S/A</p>
                <p>Tel    : 11-97543-9876</p>
                <p>Email  : cafelandias@gmail.com</p>
                <p>Twitter: @cafelandias</p>
                <p>Instagram: @cafelandias</p>
                <p>Facebook: @cafelandias</p>
            </aside>
        </section>
         <a href="./contato.html" id="btn-saiba-mais">...Saiba mais</a>
     </main> 

     
    <footer>
        <p>Cafeteria Millenium © 2025</p>
    </footer>
</body>
</html>