*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
    font-family: Verdana, sans-serif;
}

.cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    color:#fff;
    background-color: #0c083a;
    padding: 10px;
    height: 20vh;
}

.logo{
    max-width: 10%;
}

.menu{
    width: 100vw;
}

.menu ul{
    list-style: none;
    width: 100vw;

    display: flex;
    justify-content: end;
    gap: 30px;
}

.menu ul li{
    display: inline;
}

.conteudo{
    font-size: 2rem;
     background-color: #0c083a;
     width: 100%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     align-content: space-around;
     color:#fff;
}

.conteudo :nth-child(2){
    width: 100%;
}

.conteudo :nth-child(2) div{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap

}

.conteudo :nth-child(2) div figure{
    width: 50%;
}

.conteudo :nth-child(2) img{
    max-width: 50%;
    display: inline-block;
    margin: 0 auto;
}

.rodape{
    background-color: #0c083a;
}

.container{
    margin: 0 auto
    width:80vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    background-color: #0c083a;

}




























/*  
 
.box-pai{
    display: flex;
   flex-direction: row-reverse; 
   flex-direction: column-reverse; 
   gap:10px; 
   justify-content: space-between; 
   justify-content: space-evenly; 
   flex-wrap: wrap;
    justify-content: center;
     align-content: center;
    
    border:2px solid #ff0000;
    width: 100%;
    height: 200px;
}
 
.box{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.box-child1{
    border: 2px solid #080870; 
     flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 250px; 
    ShortHand propertie
     flex:1 2 250px; 
  }
.box-child2{
    border: 2px solid #2c7008;
}
.box-child3{
    border: 2px solid #70084a; 
  flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 400px;  
}
.box-child4{
    border: 2px solid #702008;
}
.box-child5{
    border: 2px solid #706908;
} 


 */
