

 
.box-pai{
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* gap:10px; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: center;
     align-content: center;
    
    border:2px solid #ff0000;
    width: 100%;
    height: 200px;
}

.box{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-child1{
    border: 2px solid #080870;
    /* flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 250px; */
    /*ShortHand propertie*/
    /* flex:1 2 250px; */
}
.box-child2{
    border: 2px solid #2c7008;
}
.box-child3{
    border: 2px solid #70084a;
    /* flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 400px;  */
}
.box-child4{
    border: 2px solid #702008;
}
.box-child5{
    border: 2px solid #706908;
}