<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout-1 Flex</title>
    <link rel="stylesheet" href="./css/flex-1.css"
</head>
<body>
    <h1>Exemplo FlexBox</h1>

    <div class="box-pai box">
        <div class="box box-child">1Child</div>
        <div class="box box-child">2Child</div>
        <div class="box box-child">3Child</div>
        <div class="box box-child">4Child</div>
        <div class="box box-child">5Child</div>
    </div>


</body>
</html>