*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.container > :nth-child(1){
    align-self: center;
    background-color: #2e2b2b;
    color: #fff
}