/* Reset e box-sizing */
* { margin:0; padding:0; box-sizing:border-box; }

/* Variáveis de tema */
:root{
  --bg: #1d1c1c;
  --card: #2c2c2c;
  --accent: #1b1616;
  --text: #ffffff;
  --muted: #bdbdbd;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  line-height: 1.4;
}
