* {
    margin: 0;
    padding: 0;
    box box-sizing: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
font-family: Arial, Helvetica, sans-serif;
color: #ffffff;
min-height: 100px;
display: flex;
}

header {
  background-color: #e66611;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

nav a:hover {
    color: aqua;
}

header h1 {
  margin-bottom: 10px; /*Que santa gambiarra*/
  text-decoration-color: crimson
}

header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

a {
  text-decoration: none;
  color:aliceblue
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  gap: 15px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

footer {
  background-color: #e66611;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

footer nav a:hover {
  color: aqua;
}

footer nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}















