
.box-pai{
    display: flex;
    flex-direction: column; /* row | row-reverse | column | column-reverse */
    gap: 10px;

    border: 2px solid #ff0000;
    width: 100%;
    height: 200px;
}

.box{
    height: 25px;
}
.child{
    height: 25px;
        border: 2px solid #080870;
}

.box-child1{
    height: 25px;
    border: 2px solid rgb(76, 112, 8);
}

.box-child2{
    height: 25px;
    border: 2px solid #760876;
}

.box-child3{
    height: 25px;
    border: 2px solid #076876;
}

.box-child4{
    height: 25px;
    border: 2px solid #760808;
}

.box-child5{
    height: 25px;
    border: 2px solid #920340;
}
