@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bhaiksuki&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

header {
    background-color: rgb(218, 53, 53);
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    gap: 1rem;

    align-items: center;

    color: white;

    h1 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(255, 217, 0);
        text-decoration: underline;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;

    align-items: center;

    section {
        width: 70%;
        background-color: rgb(255, 164, 171);
        padding: 2rem;
        border-radius: 1rem;

        h2 {
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: red;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    align-items: center;

    gap: 1rem;

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding-inline: 5rem;
        justify-content: space-around;
    }

    a {
        color: red;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: coral;
        text-decoration: underline;
    }
}