body {
    margin: 0;
    background-color: #F8F9FA;
    font-family: Verdana,sans-serif;
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 20px;
}

header > h1 {
    text-shadow: black 1px 1px 2px;
    color: rgb(22, 21, 21);
    margin: 0;
}

header > nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
}

header > nav a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
    color: orange;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
}

main > section {
    line-height: 1.6;
}



footer {
    padding: 30px 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333333;
}

